<h1>All Students</h1>

<table border="4">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Age</th>
      <th>Email</th>
      <th>Action </th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.full_name %></td>
        <td><%= student.age %></td>
        <td><%= student.email %></td>
        <td>
          <%= link_to "View", student_path(student) %>
          <%= link_to "Edit", edit_student_path(student) %>
          <%= button_to "Delete", student_path(student), method: :delete, data: { confirm: "Are you sure?" } %>        
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Student", new_student_path %>
